<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Aroma - Thế giới ẩm thực</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              Mang thức ăn đến tận giường của bạn
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="sidebar-categories sticky-top" style="top: 15%">
          <div class="head">Phân loại</div>
          <ul class="main-categories">
            <li class="common-filter">
              <form [formGroup]="searchByCategoryForm">
                <ul (change)="searchByCategory()">
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="all"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="null"
                      checked
                    /><label for="all">Xem tất cả</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="vege"
                      name="foodCategoryId"
                      [value]="1"
                      formControlName="foodCategoryId"
                    /><label for="vege">Đồ chay</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="cakes"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="2"
                    /><label for="cakes">Bánh kem</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="dessert"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="3"
                    /><label for="dessert">Tráng miệng</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="streetfood"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="4"
                    /><label for="streetfood">Vỉa hè</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="pizza"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="5"
                    /><label for="pizza">Pizza/Burger</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="chicken"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="6"
                    /><label for="chicken">Món gà</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="hotpot"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="7"
                    /><label for="hotpot">Món lẩu</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="sushi"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="8"
                    /><label for="sushi">Sushi</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="noodles"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="9"
                    /><label for="noodles">Mì phở</label>
                  </li>
                  <li class="filter-list">
                    <input
                      class="pixel-radio"
                      type="radio"
                      id="rice"
                      name="foodCategoryId"
                      formControlName="foodCategoryId"
                      [value]="10"
                    /><label for="rice">Cơm hộp</label>
                  </li>
                </ul>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <form [formGroup]="sortAndSearchForm" (ngSubmit)="searchAndSort()">
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select
                class="nice-select"
                formControlName="sortBy"
                (change)="sort()"
              >
                <option [value]="1" selected>Món mới</option>
                <option [value]="2">Món ăn ưa chuộng nhất</option>
                <option [value]="3">Giá cao nhất</option>
                <option [value]="4">Giá thấp nhất</option>
              </select>
            </div>
            <div style="margin-left: 41%">
              <div class="input-group filter-bar-search">
                <input
                  type="text"
                  placeholder="Tìm kiếm theo tên..."
                  formControlName="searchBy"
                />
                <div class="input-group-append">
                  <button type="button" (click)="searchAndSort()">
                    <i class="ti-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <section class="lattest-product-area pb-40 category-list">
          <div class="row" *ngIf="foods">
            <div
              class="col-md-6 col-lg-4"
              *ngFor="
                let food of foods
                  | paginate
                    : {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: count
                      }
              "
            >
              <div class="card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="{{ food.foodImage }}" alt="" />
                  <ul class="card-product__imgOverlay">
                    <li>
                      <button title="Chi tiết">
                        <i class="ti-search"></i>
                      </button>
                    </li>
                    <li>
                      <button title="Thêm vào giỏ hàng">
                        <i class="ti-shopping-cart"></i>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <p>{{ food.foodCategory.foodCategoryName }}</p>
                  <h4 class="card-product__title">
                    <a href="#">{{ food.foodName }}</a>
                  </h4>
                  <p>Lượt order: {{ food.numberOrder }}</p>
                  <p class="card-product__price">
                    {{ food.foodPrice | number: "0.0" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-center" *ngIf="foods">
            <pagination-controls
              class="my-pagination"
              previousLabel="Prev"
              nextLabel="Next"
              responsive="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
          <div *ngIf="!foods" class="text-center m-2">
            <h4>Rất tiếc, không tìm thấy kết quả !</h4>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
