<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row section_gap">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title large_title">Sứ mệnh</h4>
            <p>Aroma là trang web bán đồ ăn nhanh lớn nhất Đà Nẵng.</p>
            <p>
              Chúng tôi luôn muốn khách hàng được trải nghiệm các dịch vụ tốt
              nhất với chất lượng cao nhất.
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Liên kết</h4>
            <ul class="list">
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Giỏ hàng</a></li>
              <li><a href="#">Đăng nhập</a></li>
              <li><a href="#">Đăng kí</a></li>
              <li><a href="#">Liên hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget instafeed">
            <h4 class="footer_title">Danh mục</h4>
            <ul class="list instafeed d-flex flex-wrap">
              <li>
                <img
                  src="https://images.foody.vn/res/g15/145635/s570x570/ce803887-f69e-4d63-bb48-4483386bda7e.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://images.foody.vn/res/g69/681602/s570x570/8899466f-25f0-4dbf-867e-b5d8db7abc2a.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="//images.foody.vn/res/g2/12567/s570x570/94a0a549-035d-4c75-ac5d-83ee91004ee1.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://images.foody.vn/res/g74/732280/s570x570/fb804b19-9477-4bcd-9aac-ba6aa3435437.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://images.foody.vn/res/g97/964342/s570x570/1ca9ccc9-6961-49df-a80e-6ec794d9417a.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://images.foody.vn/res/g2/12925/s570x570/f2135a13-6de3-4a8a-bb6e-05aa3098-71025e79-200929183529.jpeg"
                  alt=""
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Địa chỉ liên hệ</h4>
            <div class="ml-40">
              <p class="sm-head">
                <span class="fa fa-location-arrow"></span>
                Tổng công ty
              </p>
              <p>41b, Mãi lão Bạng, Hải Châu, Đà Nẵng</p>

              <p class="sm-head">
                <span class="fa fa-phone"></span>
                Số điện thoại
              </p>
              <p>
                +84 456 7890 <br />
                +84 123 3122
              </p>

              <p class="sm-head">
                <span class="fa fa-envelope"></span>
                Email
              </p>
              <p>
                aroma@gmail.com <br />
                leechoncaao@gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row d-flex">
        <p class="col-lg-12 footer-text text-center">
          Copyright &copy;2021 All rights reserved | This website is made by
          Leechoncaao
          <i class="fa fa-heart" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
</footer>
